html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  color: black;
  background-color: #f5fcff;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.6;
  /* font-family: 'Raleway', sans-serif;
  font-family: 'Bitter', serif; */
}

ul {
  list-style: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1940px;
  margin: 0 auto;
  padding: 0 10px;
  background-color: #f5fcff;
}

.logo {
  width: 205px;
  height: 125px;
  position: absolute;
  top: 20px;
}

.fbin-ic {
  width: 120%;
}

.contact__list {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  align-items: center;
}

.contact__list-item:nth-child(2) {
  border-right: 1px solid black;
  padding: 4px;
  border-left: 1px solid black;
}

.nav__list {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  margin-top: 20px;
  height: 40px;
}

.nav-text {
  text-transform: uppercase;
}

.nav__list-item:hover {
  color: #d97b02;
  border-bottom: 2px solid #d97b02;
  cursor: pointer;
}

.contact__list-item {
  display: flex;
  gap: 10px;
  align-items: center;
}

.main {
  margin-top: 80px;
}
.ti-li {
  margin-bottom: 40px;
}
/* Slider styles */

.swiper {
  width: 100%;
  height: 100%;
  border-radius: 50px 50px 50px 0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #f5fcff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider {
  width: 900px;
}

.home__inner {
  display: flex;
  gap: 10px;
}

.sect-title {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #d97b02;
  font-size: 32px;
  font-weight: 700;
}

.sect-p {
  text-align: center;
  font-family: "Bitter", serif;
  color: #50575e;
  font-size: 16px;
}

.sect-title {
  text-transform: uppercase;
}

.about__us {
  display: flex;
  gap: 20px;
  margin-bottom: 200px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

/* .home {
  display: none;
} */

/* Секция ADVA */

.advatages__inner {
  display: flex;
  gap: 20px;
  border-radius: 20px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.95),
      rgba(255, 255, 255, 0.95)
    ),
    url(/images/padik.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.adva-img {
  border-radius: 10px;
  width: 300px;
  height: 216px;
}

.adva__lists {
  display: grid;
  gap: 10px;
  align-items: center;
  justify-items: stretch;
  grid-template-columns: repeat(2, 1fr);
}

.adva__list-item {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  border: 2px solid #d97b02;
  border-radius: 25px 25px 25px 5px;
}

.adva-title {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #d97b02;
  font-size: 20px;
  font-weight: 700;
}

.adva-text {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #50575e;
}

.our__adva {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.nav__adva {
  margin-top: 40px;
}

.nav__adva-list {
  display: flex;
  border: 1px solid #50575e94;
  border-radius: 4px;

  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.adva__place-title {
  margin: 20px 0;
}

.adva__place-title {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #d97b02;
  font-size: 16px;
  font-weight: 700;
}

.adva-place-text {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #50575e;
}

.adva-link {
  font-family: "Montserrat", sans-serif;
  padding: 5px;
  font-size: 16px;
  font-weight: 700;

  color: #253d4a;
}

.adva-link:nth-child(1) {
  color: #f5fcff;
  background-color: #d97b02;
  border-right: 1px solid #50575e94;
}

.adva-link:nth-child(2) {
  border-right: 1px solid #50575e94;
}

.adva-link:nth-child(3) {
  border-right: 1px solid #50575e94;
}

.adva-link:nth-child(4) {
  border-right: 1px solid #50575e94;
}

.adva-link:hover {
  color: #f5fcff;
  background-color: #d97b02;
  cursor: pointer;
}

.adva__place {
  width: 89%;
}

.advatages {
  display: none;
}

.gallery {
  display: none;
}

.gallery__inner {
  display: grid;
  gap: 20px;
  justify-items: start;
  align-content: center;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

.gallery__text {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 400px;
}

.gallery-p {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #50575e;
}

/* Position the image container (needed to position the left and right arrows) */
/* .container {
  position: relative;
} */

/* Hide the images by default */
.mySlides {
  display: none;
}
.mySlides img {
  border-radius: 50px 50px 0 0;
}
/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.container__gallery {
  width: 100%;

  position: relative;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #d97b02;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #ff9100;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #d97b02;
  padding: 2px 16px;
  color: white;
}
.row {
  display: flex;
  gap: 5px;
  padding-top: 5px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* cекция plans */

.plans {
  display: none;
}

.plans__inner {
  display: grid;
}

/* The grid: Four equal columns that floats next to each other */
/* .plans-column {
  display: flex;
  flex-direction: column;
  float: left;
  width: 25%;
  padding: 10px;
} */

/* Style the images inside the grid */
.plans-column img {
  opacity: 0.8;
  cursor: pointer;
}

.plans-column img:hover {
  opacity: 1;
}

.plans__row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-around;
  align-items: start;
  justify-items: center;
}

.plans__row img {
  width: 100%;
}

/* Clear floats after the columns */
.plans__row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.plans-container {
  position: relative;
  display: none;
  width: 50%;
  margin: 0 auto;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

/* reviews  */

.reviews {
  display: none;
}

.reviews-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reviews__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/images/arh-4.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5%;
}

.reviwes__videos {
  width: 70%;
  padding: 20px;
}

.reviwes__videos-list {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.videos__list-item {
  display: flex;
  background-color: #f5fcff;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.videos__list-item img {
  position: relative;
  bottom: 40px;
  border: 5px solid #d97b02;
  border-radius: 50%;
}

.videos__list-item h4 {
  font-family: "Raleway", sans-serif;
  color: #d97b02;
  font-family: 18;
  font-weight: 700;
}

.videos__list-item h5 {
  font-family: "Bitter", serif;
  color: #50575e;
  font-family: 16;
}

.videos__list-item h4,
.videos__list-item h5 {
  margin-bottom: 5px;
}
